<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/Diseño_sin_título-removebg-preview.png" alt="Login">
        <h1>Recupera tu contraseña</h1>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" formControlName="correo" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es obligatorio
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> no es valido
                </span>
            </div>
            <button pButton pRipple [disabled]="recuperarUsuario.invalid" type="submit" label="Enviar" class="p-button-rounded p-button-help animar"></button>
            <a routerLink="/login">Volver</a>
        </form>
    </div> 
    <app-spinner *ngIf="loading"></app-spinner>
</div>