<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Productos</span>
            <button type="button" class="btn btn-success ">Editar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lima</td>
                    <td>$150 Kg</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Manzana</td>
                    <td>$320 kg</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Naranja</td>
                    <td>$180 kg</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<app-footer></app-footer>