.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    float: right;
}
.pi-pencil {
    color: rgb(2, 245, 233);
    cursor: pointer;
}
.pi-trash {
    color: red;
    cursor: pointer;
}